
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');


.app__header {
  background-color: #F3EFE0;
  border-radius: 0 0 40px 40px;
}

.main-title {
  color: #aace0a;
  font-family: 'Mynerve', cursive;;
}
